*{
   margin: 0;
   padding: 0;
}
body{
    background-color: #585858;
    text-align: center;
   
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;

}
.box{
    height: 17vmin;
    width: 17vmin;
    border-radius: 1rem;
    border: none;
    /* box-shadow: 0 0 1rem rgba(0, 0, 0, 1); */
    font-size: 7vmin;
    color: #b014b0;
    background-color: #ffffc7;
}
#reset{
 margin: 1rem;
 padding: 1rem;
 font-size: 1.5rem;
 background-color: #191919;
 color: #fff;
 border-radius: 1rem;
 border: none;
}
#reset-btn{
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #191919;
    color: #fff;
    border-radius: 1rem;
    border: none;
   }  
   #msg  {
    color: #ffffc7;
    font-size: 6vmin;
   }
   .msg-container{
    height:30vmin ;
   }
   .hide{
     display: none;
     
   }
   .x-color {
     color: red; 
   } 
   .o-color { 
      color: green; 
   }